@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
  }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("./fonts/Montserrat/Montserrat-Italic.ttf");
  }

@font-face {
  font-family: "NYCD-Regular";
  src: url("./fonts/Nothing-You-Could-Do/NothingYouCouldDo-Regular.ttf");
}

@font-face {
	font-family: "Raleway-Thin";
	src: url("./fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
	font-family: "Raleway-Regular";
	src: url("./fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
	font-family: "Gota";
	src: url("./fonts/Gota/light.otf") format("opentype");
}

@font-face {
	font-family: "PFD-Regular";
	src: url("./fonts/Playfair/PlayfairDisplay-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "PFD-Medium";
	src: url("./fonts/Playfair/PlayfairDisplay-Medium.ttf") format("opentype");
}

@font-face {
	font-family: "PFD-Bold";
	src: url("./fonts/Playfair/PlayfairDisplay-Bold.ttf") format("opentype");
}

@font-face {
	font-family: "ubuntu-regular";
	src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "CG-Regular";
	src: url("./fonts/CG/CormorantGaramond-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "Cinzel-regular";
	src: url("./fonts/Cinzel-Decorative/CinzelDecorative-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "Al-regular";
	src: url("./fonts/Aleagreya/AlegreyaSC-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "Averia-regular";
	src: url("./fonts/Averia/AveriaLibre-Light.ttf") format("opentype");
}

@font-face { 
	font-family: "Grenze";
	src: url("./fonts/Grenze-Bis/Grenze-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "Trochut";
	src: url("./fonts/Trochut/Trochut-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "Cinzel";
	src: url("./fonts/Cinzel-Decorative/CinzelDecorative-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "font";
	src: url("./fonts/Bodomi/BodoniModa_28pt-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "teko";
	src: url("./fonts/Teko/Teko-Light.ttf") format("opentype");
}

@font-face { 
	font-family: "Eczar";
	src: url("./fonts/Ecazr/Eczar-Regular.ttf") format("opentype");
}

@font-face { 
	font-family: "A-sans";
	src: url("./fonts/Alegreya-Sans/AlegreyaSans-Light.ttf") format("opentype");
}

:root{
	

	--white: #FFFCF9;
	--gold: #D5A100;
	--goldHover: #a07800;
	--black: #1D1D1D;
	--grey: #E0E0E0;

	--ms-regular: 'A-sans';
	--ms-italic: 'Montserrat-Italic', sans-serif;
	--ms-bold: 'Montserrat-Bold', sans-serif;
	
	--nycd: 'Trochut', sans-serif;
	
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	position: relative;
	font-weight: normal;
}
